 <form action='@Url.Action("GuardarLogin", "Account")' method="POST" enctype="multipart/form-data">
    <input type="text" name="username" placeholder="username" autocomplete = "off"/>
    <input type="password" name="password" placeholder="password"/>
    <input type="submit" value="Guardar"/>
    </form>