 <section class="Registro">
  @using ProyectoRepaso.Models;
  
  @{
    ViewData["Title"] = "Registrarse";
}


    <h2>Crear una cuenta</h2>

    @if (ViewBag.Error != null)
    {
        <p>@ViewBag.Error</p>
    }
    @if (ViewBag.Ya != null)
    {
        <p>@ViewBag.Ya</p>
    }
  <form action='@Url.Action("GuardarRegistro", "Account")' method="POST" enctype="multipart/form-data"><br>
    <input type="text" name="username" placeholder="username" autocomplete = "off"/><br>
    <input type="password" name="password" placeholder="password"/><br>
    <input type="text" name="nombre" placeholder="nombre"/><br>
    <input type="text" name="apellido" placeholder="apellido"/><br>
    <input type="text" name="foto" placeholder="url de foto"/><br>
   <button type="submit">Registrarse</button><br>
    </form>
<p>¿Ya tienes una cuenta? <a href='@Url.Action("Login", "Account")'>Inicia sesión aquí</a>.</p>
</section>