 <form action='@Url.Action("GuardarRegistro", "Account")' method="POST" enctype="multipart/form-data">
    <input type="text" name="username" placeholder="username" autocomplete = "off"/>
    <input type="password" name="password" placeholder="password"/>
    <input type="text" name="nombre" placeholder="nombre"/>
    <input type="text" name="apellido" placeholder="apellido"/>
    <input type="file" name="foto" placeholder="foto"/>
    <input type="submit" value="Guardar"/>
    </form>